services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    environment:
      - VITE_SOCKET_URL=http://backend:4000
    depends_on:
      - backend
    restart: always
